#container {
  display: flex;
}

#graph-container {
  height: 50%;
  width: 50%;
}
.graph-row {
  height: 50px;
  margin: 50px;
  display: flex;
}
.graph-node {
  height: 50px;
  width: 50px;
  background: #ff0000;
  text-align: center;
  margin: 15px;
  color: white;
  visibility: hidden;
}
.graph-edge {
  height: 5px;
  background: #000000;
  z-index: -100;
  padding: 0px;
  margin: 0px;
  line-height:1px;
  position: absolute;
  visibility: hidden;
}

#info-pane {
  width: 40vw;
}
#info-pane-content {
  overflow-wrap: break-word;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}
#info-pane-footer {
  position: absolute;
  bottom: 10px;
  height: 30px;
}
.node-info {
  display: none;
  width: 100%;
}
.highlighted-level {
  background: #ff0000;
}
.sticky-header {
  width: calc(40% - 15px);
  background: #ffffff;
  position: absolute;
  top: 0px;
}
.sticky-content {
  padding-top: 120px;
}
